.listName {
  color: var(--steam-color-5);
  font-size: var(--font-medium);
  font-weight: 300;
}

.listNameSpan {
  margin-left: .5rem;
  color: var(--steam-color-2);
  font-weight: 500;
}

.iconButtons {
  display: flex;
  flex-direction: row-reverse;
}

.iconButton {
  display: inline;
  margin-left: .5rem;
  color: var(--steam-color-5);
  font-size: var(--font-large);
}

.iconButton:hover {
  cursor: pointer;
  color: white;
}