.steamLink {
  text-decoration: none;
  cursor: pointer;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gameRank {
  margin-left: 1rem;
  margin-right: 0.5rem;
  color: var(--steam-color-4);
}